src/*.exe
src/shibagold
src/shibagoldd
src/test_shibagold
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.shibagold

# Compilation and Qt preprocessor part
*.qm
Makefile
shibagold-qt
Shibagold-Qt.app

# Unit-tests
Makefile.test
shibagold-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
